.cursor{
    z-index: 10000000;
    background-color: transparent;
    border: 3px solid white;
    height: 20px;
    width:20px;
    border-radius: 50%;
    position: fixed;
    top:0;
    left:0;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cursor__ball{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }